<style>
    .summarize_btn{
        margin-top: 10px;
    }
</style>

<form name="inputForm" action="{% url 'summarize_page' %}" method="get" onsubmit="return validateInputForm();" >
    {% csrf_token %}
    <div id="warning" class="text-danger"></div>
    <div class="form-group">
        <label>Paste Copied Text</label>
        <textarea class="form-control" rows ="5" name="long-text" placeholder="Paste Long Text Here.."></textarea>
    </div>
    <div class="form-group">
        <label>No. of Sentences</label>
        <input type="number" min="1" class="form-control" name="number" value="5">
    </div>
    <div class="form-group summarize_btn">
        <button type="submit" class="btn btn-primary">Summarize</button>
    </div>
    
</form>

